
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto',Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: rgb(176, 137, 207);
}

main {
  padding: 30px;
}
